<div class="container-fluid bg-color-theme footer">
    <div class="row h-40px"></div>
    <div class="row">
        <div class="col-12 col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
        <div class="col-12 col-xs-12 col-sm-12 col-md-4 col-lg-4 social-icons">
            <i class="fab fa-youtube p-3"></i>
            <i class="fab fa-facebook-f p-3"></i>
            <i class="fab fa-twitter p-3"></i>
            <i class="fab fa-instagram p-3"></i>
        </div>
        <div class="col-12 col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
    </div>
    <div class="row">
        <div class="col-12 col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>
        <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 menu">
            <h5 class="p-3" [routerLink]="['/technopedia/home']">Home</h5>
            <h5 class="p-3" [routerLink]="['/technopedia/contents']">Contents</h5>
            <h5 class="p-3" [routerLink]="['/technopedia/credits']">Credits</h5>
            <h5 class="p-3" [routerLink]="['/technopedia/profile']">Profile</h5>
        </div>
        <div class="col-12 col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>
    </div>
    <div class="row">
        <div class="col-12 col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
        <div class="col-12 col-xs-12 col-sm-12 col-md-4 col-lg-4 copyright">
            <h5 class="p-3">&copy; {{year}} Technopedia. All rights reserved.</h5>
        </div>
        <div class="col-12 col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
    </div>
</div>