@import "../../../../../styles/color.scss";
.footer i {
    font-size: 2.5rem;
    cursor: pointer;
    color: $color-white;
}
.footer i:hover {
    animation: icon-move 1s;
}
.footer .social-icons {
    text-align: center;
}
.footer .menu {
    display: inline-block;
    text-align: center;
    color: $color-white;
}
.footer .menu h5 {
    display: inline;
    cursor: pointer;
    font-weight: bold;
}
.footer .menu h5:hover {
    text-decoration: underline;
}
.footer .copyright h5 {
    color: $color-white;
    text-align: center;
}