@import "../../../styles/color.scss";
.technology-stack h3,
.technology-stack .card h5 {
  font-weight: bold;
}
.technology-stack h3,
.technology-stack h5 {
  color: $color-rebecca-blue;
}
.technology-stack .card h5 {
  margin: 0 !important;
}
.technology-stack hr {
  height: 0.5px !important;
}
.technology-stack .card {
  cursor: pointer;
}
.technology-stack .card:hover {
  background-color: $color-rebecca-blue;
}
.technology-stack .card:hover h5 {
  color: $color-white;
}
.carousel {
  position: relative;
  display: inline-block;
}
.carousel .left,
.carousel .right {
  height: 100%;
  width: 50px;
  align-items: center;
  font-size: 1.5rem;
  color: $color-rebecca-blue;
  position: absolute;
  z-index: 10000;
  display: flex;
  justify-content: center;
}
.carousel .left {
  left: 0;
  cursor: pointer;
}
.carousel .right {
  right: 0;
  cursor: pointer;
}
.carousel .bottom {
  width: 100%;
  height: 30px;
  align-items: center;
  font-size: 1.5rem;
  position: absolute;
  z-index: 10000;
  display: flex;
  justify-content: center;
  bottom: 20px;
}
.carousel .bottom .carousel-highlighter {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 3px;
    background-color: $color-rebecca-blue;
    cursor: pointer;
}
.on {
    background-color: $color-white !important;
    border: 2px solid $color-rebecca-blue !important;
    padding: 2px;
}
.carousel .left:hover i,
.carousel .right:hover i {
  color: $color-white;
  background-color: $color-rebecca-blue;
  border-radius: 25px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  animation: icon-move 1s;
}
.carousel .main {
  height: calc(100% - 10px);
  position: absolute;
  width: 99%;
  background-color: $color-white;
  margin: 5px;
}
.carousel .main .carousel-1 img {
    height: 200px;
    width: 200px;
    margin-top: 75px;
}
.carousel .main .carousel-1 h3 {
    text-align: center;
}
.carousel .main .carousel-1 h3 {
    font-weight: bold;
}
.left-img {
    float: right;
    animation: icon-move-left 15s linear 0s infinite;
}
.right-img {
    float: left;
    animation: icon-move-right 15s linear 0s infinite;
}
.carousel-many h1, .carousel-many h5 {
    text-align: center;
}
.carousel-many h6 {
    text-align: right;
}
.carousel-many .row {
    padding-left: 50px;
    padding-right: 50px;
}

.carousel-top-space {
  height: 120px;
}

.carousel-header {
  height: 100px;
}

.carousel-author h6 {
  line-height: 100px ;
}

//Media Queries
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .left-img, .right-img {
    width: 150px !important;
    height: 150px !important;
  }
  .carousel-top-space {
    height: 88px;
  }
  .carousel-header {
    height: 80px !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
