<div class="h-70px"></div>
<div class="container-fluid p-0 bg-color-snow">
    <div class="row h-80px m-0">

    </div>
    <div class="row profile">
        <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 photo">
            <img src="assets/images/author.jpg" />
        </div>
    </div>
    <div class="row profile-data">
        <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 p-0">
            <div class="container-fluid p-0">
                <div class="row h-100px m-0"></div>
                <div class="row m-0">
                    <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 p-0">
                        <h5>Thangavel Ayyasamy</h5>
                    </div>
                    <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 p-0">
                        <h6>Software Developer</h6>
                    </div>
                </div>
                <hr />
                <div class="row m-0 p-3 profile-location1">
                    <div class="col-12 col-xs-12 col-sm-12 col-md-3 col-lg-3 p-0 youtube">
                        <i class="fab fa-youtube p-2"></i>
                        <h6><a href="https://www.youtube.com/channel/UCUpWQ8_YMJyOxLFW1vb_WEQ?sub_confirmation=1"
                                target="_blank">@technopedia</a></h6>
                    </div>
                    <div class="col-12 col-xs-12 col-sm-12 col-md-3 col-lg-3 p-0 facebook">
                        <i class="fab fa-facebook-f p-2"></i>
                        <h6><a href="https://www.facebook.com/Indianthanga" target="_blank">Indianthanga</a></h6>
                    </div>
                    <div class="col-12 col-xs-12 col-sm-12 col-md-3 col-lg-3 p-0 twitter">
                        <i class="fab fa-twitter p-2"></i>
                        <h6><a href="https://twitter.com/indianthanga" target="_blank">@indianthanga</a></h6>
                    </div>
                    <div class="col-12 col-xs-12 col-sm-12 col-md-3 col-lg-3 p-0 instagram">
                        <i class="fab fa-instagram p-2"></i>
                        <h6><a href="https://www.instagram.com/indianthanga/" target="_blank">indianthanga</a></h6>
                    </div>
                </div>
                <hr />
                <div class="row m-0 p-3 profile-about">
                    <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 p-0">
                        <h5>About Me</h5>
                    </div>
                    <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 p-0">
                        <h6>Born in 1990. Raised in Tirupur, Tamilnadu, India.</h6>
                    </div>
                    <hr />
                    <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 p-0">
                        <p>I'm <b>Thangavel Ayyasamy</b>, a software developer from Tamilnadu, India. Currently working
                            as an <b>Associate</b> in Cognizant Technology Solutions, Coimbatore, Tamilnadu, India.
                            Experienced in handling softwares since 2014.</p>
                    </div>
                    <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 p-0">
                        <p>I'm good with Java, Angular, UI Frameworks, Spring Boot, Grails and some other important
                            stuffs to play with software development.</p>
                    </div>
                    <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 p-0">
                        <p>I do stuffs like cooking, youtube content development, video editing, drinking coffee,
                            internet and so on.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>