@import "color.scss";
.bg-color-white {
    background-color: $color-white !important;
}
.bg-color-light-grey {
    background-color: $color-light-grey !important;
}
.bg-color-snow {
    background-color: $color-snow !important;
}
.bg-color-rebecca-blue {
    background-color: $color-rebecca-blue !important;
}
.bg-color-dodger-blue {
    background-color: $color-dodger-blue !important;
}
.bg-color-golden-rod {
background-color: $color-golden-rod !important;
}
.bg-color-cathams-blue {
background-color :$color-cathams-blue !important;
}
.bg-color-web-orange {
background-color: $color-web-orange !important;
}
.bg-color-flamingo {
background-color: $color-flamingo !important;
}
.bg-color-lone-star {
    background-color: $color-lone-star !important;
}
.bg-color-theme {
    background-color: $color-rebecca-blue !important;
}