@import "color.scss";
.bg-color-white {
    background-color: $color-white !important;
}
.bg-color-light-grey {
    background-color: $color-light-grey !important;
}
.bg-color-snow {
    background-color: $color-snow !important;
}
.bg-color-theme {
    background-color: $color-rebecca-blue !important;
}
.bg-color-theme {
    background-color: $color-theme !important;
}