$color-rebecca-blue: #663399;
$color-white: #ffffff;
$color-dark-charcoal: #333333;
$color-light-grey: #dddddd;
$color-snow: #f9f9f9;

$color-theme: $color-rebecca-blue;

.color-theme {
    color: $color-theme !important;
}