$color-rebecca-blue: #663399;
$color-dodger-blue: #1b9bff;
$color-golden-rod: #fcde67;
$color-cathams-blue: #1b4d89;
$color-web-orange: #FFA500;
$color-flamingo: #EE4B2B;
$color-lone-star: #660000;
$color-white: #ffffff;
$color-dark-charcoal: #333333;
$color-light-grey: #dddddd;
$color-snow: #f9f9f9;

.color-rebecca-blue {
  color: $color-rebecca-blue !important;
}
