//pixel
.h-40px {
    height: 40px !important;
}
.h-50px {
    height: 50px !important;
}
.h-60px {
    height: 60px !important;
}
.h-70px {
    height: 70px !important;
}
.h-80px {
    height: 80px !important;
}
.h-90px {
    height: 90px !important;
}
.h-100px {
    height: 100px !important;
}
.h-500px {
    height: 500px !important;
}
//percentage
.h-100pt {
    height: 100% !important;
}