//pixel
.h-10px {
    height: 10px !important;
}
.h-40px {
    height: 40px !important;
}
.h-50px {
    height: 50px !important;
}
.h-60px {
    height: 60px !important;
}
.h-70px {
    height: 70px !important;
}
.h-80px {
    height: 80px !important;
}
.h-90px {
    height: 90px !important;
}
.h-100px {
    height: 100px !important;
}
.h-120px {
    height: 120px !important;
}
.h-160px {
    height: 160px !important;
}
.h-190px {
    height: 190px !important;
}
.h-200px {
    height: 200px !important;
}
.h-250px {
    height: 250px !important;
}
.h-300px {
    height: 300px !important;
}
.h-450px {
    height: 450px !important;
}
.h-460px {
    height: 460px !important;
}
.h-490px {
    height: 490px !important;
}
.h-500px {
    height: 500px !important;
}
//percentage
.h-100pt {
    height: 100% !important;
}