<nav class="navbar navbar-expand-lg navbar-custom m-0 p-0 h-70px">
  <div class="container-fluid h-100pt p-0">
    <a class="navbar-brand navbar-title" href="#">{{title}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
      aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse h-100pt" id="navbarScroll">
      <ul class="navbar-nav ms-auto my-2 my-lg-0 h-100pt">
        <li class="nav-item">
          <a class="nav-link active ms-2 me-3" aria-current="page" href="#">
            <i class="fas fa-home m-2"></i>
            <span class="">Home</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active ms-2 me-3" aria-current="page" href="#">
            <i class="fas fa-atom m-2"></i>
            <span class="">Contents</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active ms-2 me-2" aria-current="page" href="#">
            <i class="fas fa-language"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active ms-2 me-2" aria-current="page" href="#">
            <img src="assets/images/owner.jpg"/>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>