<nav class="navbar navbar-expand-lg navbar-custom m-0 p-0 h-70px border-bottom-1px-solid-light-grey">
  <div class="container-fluid h-100pt p-0">
    <a class="navbar-brand navbar-title ps-3" href="#">
      <span>Techn</span>
      <img src="assets/images/logo.png" />
      <span>pedia</span>
    </a>
    <ul class="navbar-nav ms-auto small-screen" id="navbarNoScroll">
      <li #languageDropDown class="nav-item" (click)="languageDisplay = !languageDisplay;">
        <a class="nav-link  ms-2 me-2">
          <i class="fas fa-language"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link  ms-2 me-2">
          <i class="fas fa-expand"></i>
        </a>
      </li>
      <li #authorDropDown class="nav-item author" (click)="authorDisplay = !authorDisplay">
        <a class="nav-link  ms-2 me-2">
          <img src="assets/images/author.jpg" />
        </a>
      </li>
    </ul>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
      aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse h-100pt" id="navbarScroll">
      <ul class="navbar-nav ms-auto my-2 my-lg-0 h-100pt navbar-collapsive">
        <li class="nav-item" [routerLink]="['/technopedia/home']" [routerLinkActive]="['active']">
          <a class="nav-link  ms-2 me-3">
            <i class="fas fa-home m-2" [routerLinkActive]="['active-text']"></i>
            <span class="" [routerLinkActive]="['active-text']">Home</span>
          </a>
        </li>
        <li class="nav-item" [routerLink]="['/technopedia/contents']" [routerLinkActive]="['active']">
          <a class="nav-link ms-2 me-3">
            <i class="fas fa-atom m-2" [routerLinkActive]="['active-text']"></i>
            <span class="" [routerLinkActive]="['active-text']">Contents</span>
          </a>
        </li>
        <li class="nav-item" [routerLink]="['/technopedia/credits']" [routerLinkActive]="['active']">
          <a class="nav-link ms-2 me-3">
            <i class="fas fa-thumbs-up m-2" [routerLinkActive]="['active-text']"></i>
            <span class="" [routerLinkActive]="['active-text']">Credits</span>
          </a>
        </li>
      </ul>
    </div>
    <ul class="navbar-nav ms-auto large-screen" id="navbarNoScroll">
      <li #languageDropDown class="nav-item" (click)="languageDisplay = !languageDisplay">
        <a class="nav-link  ms-2 me-2">
          <i class="fas fa-language"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link  ms-2 me-2">
          <i class="fas fa-expand"></i>
        </a>
      </li>
      <li #authorDropDown class="nav-item author" (click)="authorDisplay = !authorDisplay">
        <a class="nav-link  ms-2 me-2">
          <img src="assets/images/author.jpg" />
        </a>
      </li>
    </ul>
  </div>
</nav>
<ul *ngIf="languageDisplay" class="language-dropdown">
  <li>
    <a><span class="">English</span></a>
  </li>
  <li>
    <a><span class="">Tamil</span></a>
  </li>
</ul>
<ul *ngIf="authorDisplay" class="user-dropdown">
  <li>
    <a><span class="">Profile</span></a>
  </li>
  <li>
    <a><span class="">Contact</span></a>
  </li>
</ul>