@import "../../../../../styles/color.scss";

.navbar-title {
  font-size: 1.8rem;
  color: $color-dark-charcoal;
  font-weight: bold;
  border-left: 1px solid $color-light-grey !important;
}
.navbar-title:hover img {
  animation: icon-move 1s;
}
.navbar-toggler {
  border: 0;
  outline: 0;
  box-shadow: none;
}
#navbarNoScroll {
  flex-direction: row;
}

#navbarScroll ul li a,
#navbarNoScroll li a {
  line-height: 55px;
  font-size: 1.2rem;
}

#navbarScroll ul li,
#navbarNoScroll li {
  cursor: pointer;
  border-left: 1px solid $color-light-grey !important;
}

#navbarScroll ul li:hover,
#navbarNoScroll li:hover {
  background-color: $color-theme;
}

#navbarScroll ul li:hover a i,
#navbarScroll ul li:hover a span,
#navbarNoScroll li:hover a i,
#navbarNoScroll li:hover a span {
  color: $color-white;
}

#navbarScroll ul li a i,
#navbarNoScroll li a i {
  color: $color-theme;
}

#navbarScroll ul li a span,
#navbarNoScroll li a span {
  color: $color-theme;
  font-weight: bold;
}

#navbarScroll ul li:hover a i {
  animation: icon-move 1s;
}

#navbarNoScroll li a img {
  width: 30px;
  height: 30px;
  border-radius: 25px;
  border: 2px solid $color-dark-charcoal;
}

#navbarScroll ul li:hover a img,
#navbarNoScroll li:hover a img {
  border: 2px solid $color-white;
}

.language-dropdown,
.user-dropdown {
  list-style-type: none;
  padding: 0;
  position: absolute;
  background-color: $color-white;
  display: block;
  width: 160px;
  top: 72px;
  transform-origin: 100% 0px;
  opacity: 1;
  transform: scaleX(1) scaleY(1);
}

.language-dropdown {
  right: 112px;
}

.user-dropdown {
  right: 0px;
}

.language-dropdown li,
.user-dropdown li {
  height: 40px;
  border: 1px solid $color-light-grey;
  cursor: pointer;
}

.language-dropdown li a,
.user-dropdown li a {
  font-size: 1rem;
  font-weight: bold;
  line-height: 40px !important;
  padding-left: 10px;
  color: $color-theme;
}

.language-dropdown li:hover,
.user-dropdown li:hover {
  background-color: $color-theme;
}

.active {
  background-color: $color-theme;
}
.active-text {
  color: $color-white !important;
}

.language-dropdown li:hover a span,
.user-dropdown li:hover a span {
  color: $color-white;
}
.navbar-title {
  height: 100%;
  line-height: 55px;
}

.navbar-title img {
  width: 35px;
  height: 40px;
  margin-bottom: 5px;
}

//Media Queries
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .large-screen {
    display: none;
  }
  .small-screen {
    display: flex;
  }
  .author {
    border-right: 1px solid $color-light-grey;
  }
  #navbarScroll .navbar-collapsive {
    height: auto !important;
    margin: 0 !important;
    background-color: $color-white;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .large-screen {
    display: none;
  }
  .small-screen {
    display: flex;
  }
  .author {
    border-right: 1px solid $color-light-grey;
  }
  #navbarScroll .navbar-collapsive {
    height: auto !important;
    margin: 0 !important;
    background-color: $color-white;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .large-screen {
    display: none;
  }
  .small-screen {
    display: flex;
    height: 69px;
  }
  .author {
    border-right: 1px solid $color-light-grey;
  }
  #navbarScroll .navbar-collapsive {
    height: auto !important;
    margin: 0 !important;
    background-color: $color-white;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .large-screen {
    display: flex;
    height: 70px;
  }
  .small-screen {
    display: none;
    height: 69px;
  }
  .author {
    border-right: 0;
  }
  #navbarScroll .navbar-collapsive {
    height: 70px !important;
    margin-left: auto !important;
    background-color: $color-white;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .large-screen {
    display: flex;
    height: 70px;
  }
  .small-screen {
    display: none;
  }
  .author {
    border-right: 0;
  }
  #navbarScroll .navbar-collapsive {
    height: 70px !important;
    margin-left: auto !important;
    background-color: $color-white;
  }
}
