<div class="not-found">
    <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1>4<img src="assets/images/logo.png">4</h1>
    </div>
    <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2>The page you requested not found</h2>
    </div>
    <div class="h-10px"></div>
    <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <button [routerLink]="['/technopedia/home']">Home</button>
        <button [routerLink]="['/technopedia/contents']">Contents</button>
        <button [routerLink]="['/technopedia/credits']">Credits</button>
        <button [routerLink]="['/technopedia/profile']">Profile</button>
    </div>
</div>