@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap");
@import "styles/height.scss";
@import "styles/custom.scss";
@import "styles/color.scss";
@import "styles/background-color.scss";
@import "styles/border.scss";
@import "styles/text-align.scss";

body {
  font-family: "Mulish", sans-serif;
}

@keyframes icon-move {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-5deg);
  }
  20% {
    transform: rotate(5deg);
  }
  30% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  60% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(-5deg);
  }
  80% {
    transform: rotate(5deg);
  }
  90% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}



